@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ajax作業</h1>
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <a href="~/home/travelwork1">作業一</a>
    <a href="~/home/register">作業二</a>
    <a href="~/home/work3address">作業三</a>
</div>
